@media screen 
and (max-width: 1815px){
    /* Section Main */
    .main{
        justify-content: space-between;
    }

    /* Section Knowledges */
    .card-skill{
        width: 18rem;
        height: 18rem;
    }

    .card-skill-name-high{
        width: 18rem;
    }

    .card-skill-name-low{
        width: 18rem;
    }
}

@media screen 
and (max-width: 1739px){
    /* Section Main */
    .main-image img{
        width: 60vh;
    }

    /* Section Projects */
    .card-projects{
        width: 40rem;
    }

    /* Section Knowledges */
    .card-skill{
        width: 16rem;
        height: 16rem;
    }

    .card-skill-name-high{
        width: 16rem;
    }

    .card-skill-name-low{
        width: 16rem;
    }

    .html img{
        width: 110px;
        height: 110px;
    }

    .css img{
        width: 130px;
        height: 130px;
    }

    .js img{
        width: 100px;
        height: 100px;
    }

    .java img{
        width: 100px;
        height: 90px;
    }

    .spring img{
        width: 150px;
        height: 100px;
    }

    .mysql img{
        width: 90px;
        height: 90px;
    } 
}

@media screen 
and (max-width: 1679px){
    /* Section Main */
    .main-image img{
        width: 50vh;
    }

    #hello{
        font-size: 4.5rem;
    }
    
    #myname{
        font-size: 5.8rem;
    }

    .typed-out{
        font-size: 2.55rem;
    }

    .first-button{
        width: 23.2rem;
        height: 6rem;
    }    

    .first-button-alter{
        width: 23.2rem;
        height: 6rem;
    }   

    /* Section About */
    .text-about p{
        font-size: 2.4rem;
    }

    .card-about article{
        width: 12rem;
        height: 12rem;
    }

    .email img{
        width: 60px;
        height: 60px;
    }

    .discord img{
        width: 70px;
        height: 70px;
    }

    .instagram img{
        width: 66px;
        height: 66px;
    }
    
    .telephone img{
        width: 56px;
        height: 56px;
    }

    /* Section Projects */
    .card-projects{
        width: 36rem;
    }

    /* Section Knowledges */
    #card-mechanic, .text-skills p{
        font-size: 2.4rem;
        width: 32%;
    }

}

@media screen 
and (max-width: 1559px){
    /* Overall */
    section{
        padding: 0 16rem;
    }

    .navbar{
        padding: 1.8rem 16rem;
    }

    footer{
        padding: 0rem 16rem;
    }

    /* Section About */
    .text-about p{
        font-size: 2.2rem;
    }

    /* Section Knowledges */
    #card-mechanic, .text-skills p{
        font-size: 2.2rem;
        width: 32%;
    }

}

@media screen 
and (max-width: 1439px){
    /* Overall */
    section{
        padding: 0 14rem;
    }

    .navbar{
        padding: 1.8rem 14rem;
    }

    footer{
        padding: 0rem 14rem;
    }

    /* Header - Navbar */
    .navbar-title a{
        font-size: 2rem;
    }

    .navbar-item a{
        font-size: 1.6rem;
    }

    /* Section Main */
    #hello{
        font-size: 3.8rem;
    }
    
    #myname{
        font-size: 5rem;
    }

    .typed-out{
        font-size: 2.2rem;
    }

    .first-button{
        width: 19.8rem;
        height: 5.8rem;
    }    

    .first-button-alter{
        width: 19.8rem;
        height: 5.8rem;
    }   

    /* Section About */
    .text-about h1{
        font-size: 4rem;
    }

    .text-about span{
        font-size: 5.6rem;
    }

    .text-about p{
        font-size: 2rem;
    }

    .card-about article{
        width: 10rem;
        height: 10rem;
    }

    .card-about h1{
        font-size: 1.6rem;
    }

    .card-about p{
        font-size: 1.4rem;
    }

    .email img{
        width: 50px;
        height: 50px;
    }

    .discord img{
        width: 60px;
        height: 60px;
    }

    .instagram img{
        width: 56px;
        height: 56px;
    }
    
    .telephone img{
        width: 46px;
        height: 46px;
    }

    /* Section Projects */
    .title-projects h1{
        font-size: 4rem;
    }

    .title-projects span{
        font-size: 5.6rem;
    }

    .card-projects{
        width: 30rem;

        margin-bottom: 4rem;
    }

    .card-projects h1{
        font-size: 1.6rem;
    }

    .card-projects p{
        font-size: 1.4rem;
    }

    /* Section Knowledges */
    .text-skills h1{
        font-size: 4rem;
    }

    .text-skills span{
        font-size: 5.6rem;
    }

    #card-mechanic, .text-skills p{
        font-size: 2rem;
        text-align: left;
    }

    .card-skill{
        width: 12rem;
        height: 12rem;
    }

    .card-skill-name-high{
        font-size: 1.6rem;

        width: 12rem;
        transform: translateY(-300%)
    }

    .card-skill-name-low{
        font-size: 1.6rem;

        width: 12rem;
        transform: translateY(300%)
    }

    .html img{
        width: 90px;
        height: 90px;
    }

    .css img{
        width: 110px;
        height: 110px;
    }

    .js img{
        width: 80px;
        height: 80px;
    }

    .java img{
        width: 80px;
        height: 70px;
    }

    .spring img{
        width: 130px;
        height: 80px;
    }

    .mysql img{
        width: 70px;
        height: 70px;
    } 

    /* Footer - Credits */
    .footer-content p{
        font-size: 1.6rem;
    }

}