/* Imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


/* "Configs" */
:root{
    font-size: 10px;
    --color-strongdark:   #101010;
    --color-mediumdark:   #171717;
    --color-stronggrey:   #212121;
    --color-mediumgrey:   #333333;
    --color-weakgrey:     #828282;
    --color-white:        #F9F9F9;
    --color-green:        #00DF5E;
    --color-selectgreen:  #2f9b5c;

    --color-stronglight:  #D9D9D9;
    --color-mediumlight:  #F2F2F2;

    --transition-default: all 320ms ease;
}

::selection{
    background-color: var(--color-selectgreen);
}

*, html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;

    background-color: var(--color-mediumdark);

    --font-color1: var(--color-white);
    --font-color2: var(--color-weakgrey);
    --font-color3: var(--color-mediumdark);

    --font-color-button1: var(--color-weakgrey);
    --font-color-button2: var(--color-strongdark);

    --background-color1: var(--color-strongdark);
    --background-color2: var(--color-mediumdark);

    --background-color-sticky: #171717f8;

    --background-color-button: var(--color-mediumgrey);

    --border-color1: var(--color-mediumgrey);
    --border-color2: var(--color-mediumdark);

    --border-color-footer: var(--color-mediumgrey);

    transition: var(--transition-default);
}

.light{
    background-color: var(--color-stronglight);

    --font-color1: var(--color-strongdark);
    --font-color2: var(--color-mediumgrey);
    --font-color3: var(--color-stronglight);

    --font-color-button1: var(--color-stronglight);
    --font-color-button2: var(--color-mediumlight);

    --background-color1: var(--color-mediumlight);
    --background-color2: var(--color-stronglight);

    --background-color-sticky: #D9D9D9f8;

    --background-color-button: var(--color-weakgrey);

    --border-color1: var(--color-stronglight);
    --border-color2: var(--color-stronglight);

    --border-color-footer: var(--color-weakgrey);
}


/* Scroll-bar */
body::-webkit-scrollbar{
    width: 0.8rem;
}
  
body::-webkit-scrollbar-track{
    background: var(--background-color1)
}
  
body::-webkit-scrollbar-thumb{
    background-color: var(--color-green);
    border-radius: 2rem;
}

/* Padrões */
section{
    position: relative;
    padding: 0 22rem;
}

.content{
    transition: var(--transition-default);
    background-color: var(--background-color1);
}

.container{
    width: 100%;
    padding: 5rem 0rem;
}


/* Navbar */
header{
    background-color: var(--background-color2);
    transition: var(--transition-default);
}

.sticky{
    inset: 0 0 auto 0;
    position: sticky;

    backdrop-filter: blur(0.3rem);
    background-color: var(--background-color-sticky);

    z-index: 100;
}

.sticky .navbar-title a{
    cursor: pointer;
}

.out{
    transform: translateY(-100%);
    opacity: 0;
}

.navbar{
    padding: 1.8rem 22rem;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-between
}

.navbar-title a{
    text-decoration: none;
    font-size: 2.4rem;

    cursor: default;

    color: var(--font-color1);

    transition: var(--transition-default);
}

.navbar-list{
    list-style: none;

    display: flex;
    gap: 4rem;
}

.navbar-itens{
    display: flex;
    align-items: center;

    gap: 4rem;
}

.navbar-item a{
    text-decoration: none;
    font-size: 1.8rem;

    position: relative;

    color: var(--font-color1);

    transition: var(--transition-default);
}

.navbar-item a::after{
    position: absolute;

    content: "";

    width: 100%;
    height: 0.2rem;

    left: 0;
    bottom: -0.25rem;

    transform-origin: right; 
    transform: scaleX(0);

    background-color: var(--color-green);

    transition: transform 370ms ease-in-out;
}

.navbar-item a:hover::after{
    transform-origin: left;
    transform: scaleX(1);

    background-color: var(--color-green);
}

.switch-toggle{
    background-color: var(--color-white);
    border: 3px solid var(--color-white);
    border-radius: 50px;

    width: 5rem;
    height: 2rem;;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 0.2rem;

    position: relative;

    cursor: pointer;
}

.switch-toggle i{
    transition: all 320ms ease;
}

.fa-moon{
    font-size: 1.6rem;
    color: var(--color-mediumdark);
}

.fa-circle{
    font-size: 1.2rem;
    color: var(--color-stronglight);
}

.switch-animation{
    transform: translateX(-2.8rem) rotate(350deg);
}

.changebg{
    background-color: var(--color-strongdark);
    border: 3px solid var(--color-strongdark);
}


/* Section - Home */
.main{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    transition: all 320ms ease;

    color: var(--font-color1);
}

.main-text{
    width: 50%;
}

#hello{
    font-size: 5rem;
}

#myname{
    font-size: 6.4rem;
    white-space: nowrap;
}

.inline-div{
    display: inline-block;
}

.typed-out{
    font-size: 2.75rem;

    border-right: 4px solid var(--color-green);

    overflow: hidden;
    width: 0;

    white-space: nowrap;

    padding-right: 1rem;

    animation: typing 4s steps(45, end) forwards, 
    blink-caret 700ms steps(45, end) infinite;
}
@keyframes typing{
    from {width: 0}
    to {width: 100%}
}
@keyframes blink-caret{
    0%, 100% {border-color: transparent}
    50% {border-color: var(--color-green);}
}

.main-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-top: 2.5rem;
    gap: 2.5rem;
}

.first-button{
    background-color: var(--color-green);
    border: 2px solid var(--color-green);

    color: var(--font-color3);

    display: inline-block;
    width: 25.4rem;
    height: 6.5rem;

    outline: none;

    text-decoration: none;
    font-size: 2.2rem;

    box-shadow: 0 0 40px 40px var(--color-green) inset, 0 0 0 0 var(--color-green);
    transition: all 500ms ease-in-out,
    color 320ms ease;
}

.first-button:hover{
    box-shadow: 0 0 0 0 var(--color-green) inset;
    background-color: transparent;
    color: var(--color-green);
    
    cursor: pointer;
}

.light-button1{
    color: var(--color-stronglight);
}

.first-button-alter{
    border: 2px solid var(--color-green);
    background-color: transparent;
    color: var(--color-green);
    
    display: inline-block;
    width: 25rem;
    height: 6.5rem;

    outline: none;

    text-decoration: none;
    font-size: 2.2rem;

    transition: all 500ms ease-in-out;
}

.first-button-alter:hover{
    box-shadow: 0 0 40px 40px var(--color-green) inset;

    color: var(--font-color3);

    cursor: pointer;
}

.light-button2:hover{
    color: var(--color-stronglight);
}

.main-image img{
    width: 65vh;
}

svg > path{
    fill: var(--background-color1);
    transition: var(--transition-default);
}

.wave{
    position: relative;
    display: block;
    width: 100%;

    transform: translateY(0.3rem);
}


/* Section - About me */
.about{
    display: flex;
    flex-direction: column;

    height: fit-content;

    gap: 8rem;
}

.text-about{
    display: flex;
    flex-direction: column;

    gap: 2.4rem;

    color: var(--font-color1);

    transition: var(--transition-default);
}

.text-about h1{
    text-align: center;
    font-size: 5.2rem;
}

.text-about span{
    font-size: 6.8rem;
    color: var(--color-green);
}

.text-about p{
    text-align: justify;
    font-size: 2.8rem;
}

.text-about a{
    text-decoration: none;
    font-weight: bold;

    color: var(--font-color1);

    transition: all 200ms ease-in-out;
}

.text-about a:hover{
    color: var(--color-green);
}

.cards-about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card-about{
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;

    gap: 2rem;
}

.card-about article{
    color: var(--color-green);

    background-color: var(--background-color2);
    border: 1px solid var(--border-color1);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 16rem;
    aspect-ratio: 1;
    border-radius: 50%;

    transition: border 1s ease;
}

.card-about article:hover{
    border: 1px solid var(--color-green);
}

.card-about h1{
    font-size: 2rem;

    color: var(--font-color1);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-about p{
    font-size: 1.8rem;
    color: var(--font-color2);
}


/* Section - Projects */
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: fit-content;

    gap: 4rem;
}

.title-projects h1{
    text-align: center;
    font-size: 5.2rem;

    color: var(--font-color1);
}

.title-projects span{
    font-size: 6.8rem;
    color: var(--color-green);
}

.cards-projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    flex-direction: row;

    gap: 2rem;
}

.card-projects{
    width: 42rem;
    height: fit-content;

    background-color: var(--background-color2);
    border: 1px solid var(--border-color1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 1.4rem;
    padding: 2rem;
    margin-bottom: 6rem;

    transition: border 1s ease;
}

.card-projects:hover{
    border: 1px solid var(--color-green);
}

.card-projects img{
    width: 100%;
    height: 65%;

    background-color: var(--background-color1);
    border: 1px solid var(--border-color1);

    transition: border 1s ease;
}

.card-projects:hover img{
    border: 1px solid var(--color-green);
}

.card-projects h1{
    font-size: 2rem;
    margin-bottom: 0.4rem;

    color: var(--font-color1);
}

.card-projects p{
    font-size: 1.6rem;
    font-weight: normal;

    color: var(--font-color2);
}

.card-projects button{
    width: 100%;
    height: 4rem;

    border-radius: 15rem;

    color: var(--font-color-button1);
    background-color: var(--background-color-button);

    font-size: 1.6rem;
    font-weight: bold;

    transition: all 1s ease;
}

.card-projects:hover button{
    cursor: pointer;

    background-color: var(--color-green);
    color: var(--font-color-button2);
}

/* Section - Knowledges */
.knowledges{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: fit-content;
}

.skills{
    display: flex;
    justify-content: space-between;

    margin-bottom: 6rem;
}

.text-skills{
    display: flex;
    flex-direction: column;

    gap: 2rem;

    flex: 1;

    color: var(--font-color1);
}

.text-skills h1{
    text-align: left;
    font-size: 5.2rem;
}

.text-skills span{
    font-size: 6.8rem;
    color: var(--color-green);
}

.text-skills p{
    font-size: 2.8rem;
    text-align: justify;

    position: absolute;

    width: 35%;
    opacity: 0;

    transition: all 500ms ease;
}

#card-mechanic{
    color: var(--color-weakgrey);

    font-size: 2.4rem;

    opacity: 1;
}

.cards-skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-end;

    width: 55%;

    gap: 4rem;
}

.card-skill{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color2);
    border: 1px solid var(--border-color1);

    width: 20rem;
    aspect-ratio: 1;

    transition: all 1s ease;
}

.card-skill:hover{
    border: 1px solid var(--color-green);
}

.card-skill img{
    pointer-events: none;
}

.card-skill-name-high{
    position: absolute;

    opacity: 0;
    
    transform: translateY(-380%);
    padding: 0.5rem;
    width: 20rem;

    background-color: var(--background-color2);
    border: 1px solid var(--border-color2);

    font-size: 2rem;
    color: var(--font-color1);

    pointer-events: none;

    transition: all 500ms ease;
}

.card-skill:hover .card-skill-name-high{
    opacity: 1;
}

.card-skill-name-low{
    position: absolute;
    
    opacity: 0;

    transform: translateY(380%);
    padding: 0.5rem;
    width: 20rem;

    background-color: var(--background-color2);
    border: 1px solid var(--border-color2);

    font-size: 2rem;
    color: var(--font-color1);

    pointer-events: none;

    transition: all 500ms ease;
}

.card-skill:hover .card-skill-name-low{
    opacity: 1;
}


/* Footer */
footer{
    position: relative;
    padding: 0rem 22rem;
}

.footer-content{
    padding: 2.8rem 0;

    background: var(--background-color1);
    border-top: 1px solid var(--border-color-footer);

    color: var(--font-color2);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content p{
    font-weight: normal;
    font-size: 2rem;

    margin-bottom: 0.8rem;
}

.footer-content span{
    transition: all 200ms ease-in-out;
}

.footer-content span:hover{
    color: var(--color-green);
}


/* Building Page */
.building{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
    height: 100vh;

    gap: 4rem;
}

.building img{
    height: 60vh;
}

.building-text{
    display: flex;
    flex-direction: column;

    text-align: center;

    gap: 1.4rem;
}

.building-text h1{
    font-size: 4rem;
    color: var(--font-color1);
}

.building-text span{
    font-size: 6rem;
    color: var(--color-green);

    letter-spacing: 1rem;
}

.building-text p{
    font-size: 2.2rem;
    color: var(--font-color2);
}